<h2>Grid</h2>

<%= form_tag({ :controller => 'grids', :action => 'index', :project_id => @project },
            :method => :get, :id => 'query_form') do %>
  <div id="query_form_with_buttons" class="hide-when-print">
	<%= hidden_field_tag 'set_filter', '1' %>
    <div id="query_form_content">
    <fieldset id="filters" class="collapsible <%= @query.new_record? ? "" : "collapsed" %>">
      <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
      <div style="<%= @query.new_record? ? "" : "display: none;" %>">
        <%= render :partial => 'queries/filters', :locals => {:query => @query} %>
      </div>
    </fieldset>
    <fieldset class="collapsible collapsed">
      <legend onclick="toggleFieldset(this);"><%= l(:label_options) %></legend>
	  <div style="display: none;">
        <table>
		  <tr>
			<td>
			  <label for="horizontal"><%= l(:label_grid_horizontal_grouping) %></label>
			</td>
			<td>
			  <%= select_tag('horizontal', options_for_select(@attribute_options, @horizontal)) %>
			</td>
		  </tr>
		  <tr>
			<td>
			  <label for="vertical"><%= l(:label_grid_vertical_grouping) %></label>
			</td>
			<td>
			  <%= select_tag('vertical', options_for_select(@attribute_options, @vertical)) %>
			</td>
		  </tr>
		  <tr>
			<td>
			  <label for="sorting"><%= l(:label_grid_sorting) %></label>
			</td>
			<td>
			  <%= select_tag('sorting', options_for_select(@attribute_options, @sorting)) %>
			</td>
		  </tr>
		  <tr>
            <td><%= l(:button_show) %></td>
            <td><%= available_block_columns_tags(@query) %></td>
          </tr>
        </table>
      </div>
    </fieldset>
    </div>
    <p class="buttons">
    <%= link_to_function l(:button_apply), '$("#query_form").submit()', :class => 'icon icon-checked' %>
    <%= link_to l(:button_clear), { :set_filter => 1, :project_id => @project }, :class => 'icon icon-reload'  %>
    <% if @query.new_record? && User.current.allowed_to?(:save_queries, @project, :global => true) %>
        <%= link_to_function l(:button_save),
                             "$('#query_form').attr('action', '#{ @project ? new_project_query_path(@project) : new_query_path }').submit()",
                             :class => 'icon icon-save' %>
    <% end %>
    </p>
  </div>
<% end %>

<%= error_messages_for 'query' %>

<%= form_tag({}) do %>
<%= hidden_field_tag('back_url', url_for(params), :id => nil) %>
<table style="width: 100%; table-layout: fixed;" border="1">
  <tr>
	<th></th>
	<% @x_categories.each do |x| %>
	<th><%= if x.nil? then "None" else x.name end %></th>
	<% end %>
  </tr>
  <% @y_categories.each do |y| %>
  <tr>
	<th><%= if y.nil? then "None" else y.name end %></th>
	<% @x_categories.each do |x| %>
	<td style="vertical-align: top;" class="area" id="area-<%= if x.nil? then "none" else x.id end %>-<%= if y.nil? then "none" else y.id end %>">
	  <% @data[y][x].each do |issue| %>
	  <div id="issue-<%= issue.id %>" class="hascontextmenu card" style="border: 1px solid #ebeea2; margin: 1px; padding: 5px; background-color: #ffffd5;">
		<div style="display: none;"><%= check_box_tag("ids[]", issue.id, false, :id => nil) %></div>
		<%= link_to issue, { :controller => 'issues', :action => 'show', :id => issue } %>
	  </div>
	  <% end %>
	</td>
	<% end %>
  </tr>
  <% end %>
</table>
<% end %>

<%= grids_context_menu issues_context_menu_path %>

<script>
$(function () {
	var contextMenuRightClick = function (event) {
		var target = $(event.target);
		if (target.is('a')) {
			return;
		}
		if (! target.hasClass('hascontextmenu')) {
			return;
		}

		event.preventDefault();

		target.addClass('context-menu-selection');
		target.find('input[type=checkbox]').prop('checked', true);

		contextMenuShow(event);
	};

	contextMenuUrl = "<%=issues_context_menu_path%>";
	console.log(contextMenuUrl);
	contextMenuCreate();
	//contextMenuUnselectAll();
	if (!contextMenuObserving) {
		$(document).click(contextMenuClick);
		$(document).contextmenu(contextMenuRightClick);
		contextMenuObserving = true;
	}

	if ($.fn.sortable) {
		console.log("Found sortable");
		$('.area').sortable({
			cursor: "move",
			connectWith: ".area",
			items: "> .card",
			placeholder: "placeholder",
			forcePlaceHolderSize: true,
			receive: function (event, ui) {
				console.log(event.target);
				var target_ids = event.target.id.split("-").slice(1, 3);
				var status_id = target_ids[0];
				var version_id = target_ids[1];
				var issue_id = ui.item[0].id.split("-")[1];
				$.ajax({
					url: "<%= escape_javascript url_for(:controller => 'issues', :action => 'bulk_update') %>?ids%5B%5D=" + issue_id + "&issue%5Bstatus_id%5D=" + status_id + "&issue%5Bfixed_version_id%5D=" + version_id,
					type: "POST",
				});
			},
		});
	}
});
</script>
