<h2>Grid</h2>

<%= form_tag({ :controller => 'grids', :action => 'index', :params => {:project_id => @project} }) do %>
<fieldset class="collapsible">
  <legend onclidk="toggleFieldset(this);">Options</legend>
  <table style="width: 100%;">
	<tr>
	  <td>
		<%= l(:label_horizontal_attribute) %>
		<%= select_tag('horizontal', options_for_select(@attribute_options, @horizontal)) %>
	  </td>
	  <td>
		<%= l(:label_vertical_attribute) %>
		<%= select_tag('vertical', options_for_select(@attribute_options, @vertical)) %>
	  </td>
	  <td>
		<%= l(:label_sorting_attribute) %>
		<%= select_tag('sorting', options_for_select(@attribute_options, @sorting)) %>
	  </td>
	  <td>
		<%= submit_tag 'Apply' %>
	  </td>
	</tr>
  </table>
</fieldset>
<% end %>

<%= form_tag({}) do %>
<%= hidden_field_tag('back_url', url_for(params), :id => nil) %>
<table style="width: 100%;">
  <tr>
	<th></th>
	<% @x_categories.each do |x| %>
	<th><%= x %></th>
	<% end %>
  </tr>
  <% @y_categories.each do |y| %>
  <tr>
	<th><%= y %></th>
	<% @x_categories.each do |x| %>
	<td style="vertical-align: top;">
	  <% @data[y][x].each do |issue| %>
	  <p id="issue-<%= issue.id %>" class="hascontextmenu" style="border: 1px solid #ebeea2; margin: 1px; padding: 5px; background-color: #ffffd5;">
		<%= check_box_tag("ids[]", issue.id, false, :id => nil) %>
		<%= link_to issue, { :controller => 'issues', :action => 'show', :id => issue } %>
	  </p>
	  <% end %>
	</td>
	<% end %>
  </tr>
  <% end %>
</table>
<% end %>

<%= grids_context_menu issues_context_menu_path %>

<script>
$(function () {
	var contextMenuRightClick = function (event) {
		var target = $(event.target);
		if (target.is('a')) {
			return;
		}
		if (! target.hasClass('hascontextmenu')) {
			return;
		}

		event.preventDefault();

		target.addClass('context-menu-selection');
		target.find('input[type=checkbox]').prop('checked', true);

		contextMenuShow(event);
	};

	contextMenuUrl = "<%=issues_context_menu_path%>";
	console.log(contextMenuUrl);
	contextMenuCreate();
	//contextMenuUnselectAll();
	if (!contextMenuObserving) {
		$(document).click(contextMenuClick);
		$(document).contextmenu(contextMenuRightClick);
		contextMenuObserving = true;
	}
});
</script>
